* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    padding: 5px 10px;
}

ul li {
    margin-left: 20px;
    font-size: 16px;

}

ul li a {
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
}

label {
    display: block;
}

form {
    display: inline;
}